.container {
    border: 1px solid red;
    padding: 1% 20%;
    height: 65vh;
}
h3 {
    color: rgb(10, 211, 238);
}
.main {
    display: flex;
}
.photo {
    width: 200px;
    height: 250px;
}
.photo img{
    object-fit: fill;
    width: 200px;
}
.right {
    margin-left: 10%;
}
strong {
    color: rgb(10, 211, 238);
    font-weight: 500;
}
.btn {
    display: flex;
    justify-content: space-between;
}
.btn button {
    padding: 2% 6%;
    background-color: rgb(242, 199, 118);
    border: none;
    border-bottom: 3px solid orange;
}
.right button {
    padding: 2% 6%;
    color: white;
    background-color: rgb(59, 162, 59);
    border: none;
    border-bottom: 3px solid green;
}
